################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/WebApplicationBextsa/FileContentIndex/c9d58c83-261b-4d85-a77a-9867dd3b5d09.vsidx
/.gitignore
/.gitignore
